###  Campus Safety and Crime Statistics: UC Berkeley 2013-2016

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# ---- load data ------- #

# criminal offenses
data_co1 = pd.read_csv('data/Criminal_Offenses_On_campus.csv')
data_co2 = pd.read_csv('data/Criminal_Offenses_On_campus_Student_Housing_Facilities.csv')
data_co3 = pd.read_csv('data/Criminal_Offenses_Noncampus.csv')

# VAWA
data_vawa1 = pd.read_csv('data/VAWA_Offenses_On_campus.csv')
data_vawa2 = pd.read_csv('data/VAWA_Offenses_On_campus_Student_Housing_Facilities.csv')
data_vawa3 = pd.read_csv('data/VAWA_Offenses_Noncampus.csv')

#### Criminal offenses on campus

In [10]:
##  PART 1:  Test Display Raw data
data_co1

,Survey year,Unitid,Institution name,Campus ID,Campus Name,Institution Size,Murder/Non-negligent manslaughter,Negligent manslaughter,Sex offenses - Forcible,Rape,Fondling,Sex offenses - Non-forcible,Incest,Statutory rape,Robbery,Aggravated assault,Burglary,Motor vehicle theft,Arson
0,2016,110635,University of California-Berkeley,1,Main Campus,40154,0,0,NaN,33.0,16.0,NaN,0.0,1.0,10,8,32,36,3
1,2015,110635,University of California-Berkeley,1,Main Campus,38189,0,0,NaN,16.0,31.0,NaN,0.0,0.0,11,8,43,10,4
2,2014,110635,University of California-Berkeley,1,Main Campus,37565,0,0,NaN,15.0,9.0,NaN,0.0,1.0,23,5,61,20,6
3,2013,110635,University of California-Berkeley,1,Main Campus,36198,1,0,13.0,NaN,NaN,0.0,NaN,NaN,16,14,56,11,3

#### Criminal offenses on campus Student Housing Facilities

In [11]:
data_co2

,Survey year,Unitid,Institution name,Campus ID,Campus Name,Institution Size,Murder/Non-negligent manslaughter,Negligent manslaughter,Sex offenses - Forcible,Rape,Fondling,Sex offenses - Non-forcible,Incest,Statutory rape,Robbery,Aggravated assault,Burglary,Motor vehicle theft,Arson
0,2016,110635,University of California-Berkeley,1,Main Campus,40154,0,0,NaN,21.0,4.0,NaN,0.0,0.0,2,2,5,0,2
1,2015,110635,University of California-Berkeley,1,Main Campus,38189,0,0,NaN,10.0,9.0,NaN,0.0,0.0,0,1,10,0,0
2,2014,110635,University of California-Berkeley,1,Main Campus,37565,0,0,NaN,13.0,3.0,NaN,0.0,0.0,2,0,15,0,2
3,2013,110635,University of California-Berkeley,1,Main Campus,36198,0,0,9.0,NaN,NaN,0.0,NaN,NaN,1,2,8,0,1

### PART 2: Cleanup